.qrContainer {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 3vh;
}

.saveButton {
    display: flex;
    justify-self: center;
}

.contentContainer {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    row-gap: 3vh;
}